# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Highlight styles'
      'submenu': [
        {label: 'Mark style 1', command: 'styles-highlighter:markFirstStyle'}
        {label: 'Mark style 2', command: 'styles-highlighter:markSecondStyle'}
        {label: 'Mark style 3', command: 'styles-highlighter:markThirdStyle'}
        {label: 'Mark style 4', command: 'styles-highlighter:markFourthStyle'}
        {label: 'Mark style 5', command: 'styles-highlighter:markFifthStyle'}
        {label: 'Mark style 6', command: 'styles-highlighter:markSixthStyle'}
        {label: 'Mark style 7', command: 'styles-highlighter:markSeventhStyle'}
        {label: 'Mark style 8', command: 'styles-highlighter:markEighthStyle'}
        {label: 'Mark style 9', command: 'styles-highlighter:markNinethStyle'}
        {label: 'Mark style 10', command: 'styles-highlighter:markTenthStyle'}
        {type: 'separator'}
        {label: 'Clear style 1', command: 'styles-highlighter:clearFirstStyle'}
        {label: 'Clear style 2', command: 'styles-highlighter:clearSecondStyle'}
        {label: 'Clear style 3', command: 'styles-highlighter:clearThirdStyle'}
        {label: 'Clear style 4', command: 'styles-highlighter:clearFourthStyle'}
        {label: 'Clear style 5', command: 'styles-highlighter:clearFifthStyle'}
        {label: 'Clear style 6', command: 'styles-highlighter:clearSixthStyle'}
        {label: 'Clear style 7', command: 'styles-highlighter:clearSeventhStyle'}
        {label: 'Clear style 8', command: 'styles-highlighter:clearEighthStyle'}
        {label: 'Clear style 9', command: 'styles-highlighter:clearNinethStyle'}
        {label: 'Clear style 10', command: 'styles-highlighter:clearTenthStyle'}
        {type: 'separator'}
        {label: 'Toogle Occurence highlighter', command: 'styles-highlighter:toggleOccurenceHighlighter'}
        {type: 'separator'}
        {label: 'Clear all styles', command: 'styles-highlighter:clearAllStyles'}
      ]
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Styles highlighter'
      'submenu': [
        {label: 'Mark style 1', command: 'styles-highlighter:markFirstStyle'}
        {label: 'Mark style 2', command: 'styles-highlighter:markSecondStyle'}
        {label: 'Mark style 3', command: 'styles-highlighter:markThirdStyle'}
        {label: 'Mark style 4', command: 'styles-highlighter:markFourthStyle'}
        {label: 'Mark style 5', command: 'styles-highlighter:markFifthStyle'}
        {label: 'Mark style 6', command: 'styles-highlighter:markSixthStyle'}
        {label: 'Mark style 7', command: 'styles-highlighter:markSeventhStyle'}
        {label: 'Mark style 8', command: 'styles-highlighter:markEighthStyle'}
        {label: 'Mark style 9', command: 'styles-highlighter:markNinethStyle'}
        {label: 'Mark style 10', command: 'styles-highlighter:markTenthStyle'}
        {type: 'separator'}
        {label: 'Clear style 1', command: 'styles-highlighter:clearFirstStyle'}
        {label: 'Clear style 2', command: 'styles-highlighter:clearSecondStyle'}
        {label: 'Clear style 3', command: 'styles-highlighter:clearThirdStyle'}
        {label: 'Clear style 4', command: 'styles-highlighter:clearFourthStyle'}
        {label: 'Clear style 5', command: 'styles-highlighter:clearFifthStyle'}
        {label: 'Clear style 6', command: 'styles-highlighter:clearSixthStyle'}
        {label: 'Clear style 7', command: 'styles-highlighter:clearSeventhStyle'}
        {label: 'Clear style 8', command: 'styles-highlighter:clearEighthStyle'}
        {label: 'Clear style 9', command: 'styles-highlighter:clearNinethStyle'}
        {label: 'Clear style 10', command: 'styles-highlighter:clearTenthStyle'}
        {type: 'separator'}
        {label: 'Toogle Occurence highlighter', command: 'styles-highlighter:toggleOccurenceHighlighter'}
        {type: 'separator'}
        {label: 'Clear all styles', command: 'styles-highlighter:clearAllStyles'}
      ]
    ]
  }
]
