// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

atom-text-editor, atom-text-editor::shadow {
  // Box1
  .highlights .styles-highlighter .region {
    border-color: #ddd;
  }

  .highlights .styles-highlighter.background .region {
    border-color: rgba(155, 149, 0, 0.6);
  }
  //Background1
  .highlighStyle1 .region {
    background-color: rgba(209, 44, 44, 0.5);
  }

  .highlighStyle1.background .region {
    background-color: rgba(209, 44, 44, 0.5);
  }
  //Background2
  .highlighStyle2 .region {
    background-color: rgba(44, 209, 44, 0.5);
  }

  .highlighStyle2.background .region {
    background-color: rgba(44, 209, 44, 0.5);
  }
  //Background3
  .highlighStyle3 .region {
    background-color: rgba(44, 44, 209, 0.5);
  }

  .highlighStyle3.background .region {
    background-color: rgba(44, 44, 209, 0.5);
  }
  //Background4
  .highlighStyle4 .region {
    background-color: rgba(209, 209, 44, 0.5);
  }

  .highlighStyle4.background .region {
    background-color: rgba(209, 209, 44, 0.5);
  }
  //Background5
  .highlighStyle5 .region {
    background-color: rgba(44, 209, 209, 0.5);
  }

  .highlighStyle5.background .region {
    background-color: rgba(44, 209, 209, 0.5);
  }

  //Background6
  .highlighStyle6 .region {
    background-color: rgba(237, 159, 133, 0.5);
  }

  .highlighStyle6.background .region {
    background-color: rgba(237, 159, 133, 0.5);
  }

  //Background7
  .highlighStyle7 .region {
    background-color: rgba(211, 133, 237, 0.5);
  }

  .highlighStyle7.background .region {
    background-color: rgba(211, 133, 237, 0.5);
  }

  //Background8
  .highlighStyle8 .region {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .highlighStyle8.background .region {
    background-color: rgba(0, 0, 0, 0.5);
  }

  //Background9
  .highlighStyle9 .region {
    background-color: rgba(212, 212, 212, 0.5);
  }

  .highlighStyle9.background .region {
    background-color: rgba(212, 212, 212, 0.5);
  }

  //Background10
  .highlighStyle10 .region {
    background-color: rgba(174, 242, 193, 0.5);
  }

  .highlighStyle10.background .region {
    background-color: rgba(174, 242, 193, 0.5);
  }

}
