// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

atom-text-editor, atom-text-editor::shadow {
  // Box1
  .highlights .styles-highlighter .region {
    border-color: #ddd;
  }
  // Background1
  .highlights .styles-highlighter.background .region {
    border-color: rgba(155, 149, 0, 0.6);
  }

  .highlighted .region {
    background-color: rgba(100, 96, 96, 0.7);
  }

  .highlighted.background .region {
    background-color: rgba(100, 96, 96, 0.7);
  }
}
